@import "@styles/layout.scss";
@import "@styles/typography.scss";

.button-primary {
  // link reset
  @extend .link-reset;

  // layout
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: $spacing-unit;
  margin-right: $spacing-m;

  // colours
  color: var(--clr-interactive-text--inverted) !important;
  background-color: var(--clr-interactive-bg--inverted);

  // shadows
  box-shadow: var(--drop-shadow-button);

  // typography
  font-family: "DINPro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;

  // behaviour
  cursor: pointer;

  &:active {
    opacity: 0.8;
  }
}

.button__icon {
  margin-left: $spacing-xs;
}
