@import "../../styles/layout.scss";
@import "../../styles/responsive.scss";
@import "../../styles/typography.scss";

.topbar-container {
  position: fixed;
  left: 0rem;
  top: 0;
  right: 0rem;
  width: 100%;

  @include viewportSmallerThan($grid-breakpoint) {
    // background-color: #fff;
  }

  z-index: 10000;
}

.topbar {
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  @include viewportLargerThan($grid-breakpoint) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.logo-container {
  a {
    @extend .link-reset;
  }
  img {
    height: 1.5rem;
  }
}
