@import "./responsive.scss";
/**
 * 
 * Handle spacing and grid in the website
 * 
 **/

// Spacing Units
$spacing-unit: 16px;

$spacing-xxl: $spacing-unit * 8;
$spacing-xl: $spacing-unit * 4;
$spacing-l: $spacing-unit * 3;
$spacing-m: $spacing-unit * 2;
$spacing-s: $spacing-unit * 0.75;
$spacing-xs: $spacing-unit * 0.5;

/**
 * 
 * The main colum of the layout
 * 
 */
$center-column-width: 1200px;
$center-column-margin: $spacing-s;
.center-column {
  margin-left: $center-column-margin;
  margin-right: $center-column-margin;

  @include viewportLargerThan(
    $center-column-width + $center-column-margin * 2
  ) {
    max-width: $center-column-width;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
 * 
 * Sectopm Breaks
 * 
 */

.section-marker {
  margin-top: $spacing-xxl;
  margin-bottom: $spacing-xxl;
}

.section-marker:first-child {
  margin-top: 0rem;
}

/**
 * 
 * Standard vertical spcing in typographic layotu
 * 
 */
.body,
p {
  margin-bottom: $spacing-m;
}

.display,
h1,
h2,
h3 {
  // section break
  margin-bottom: $spacing-l;
}

h1.display:first-of-type {
  margin-top: 0rem !important;
}
// .lead {
//   margin-bottom: $spacing-m;
// }

.section,
article {
  margin-bottom: $spacing-m;
}

.display {
  margin-bottom: $spacing-xl;
  margin-top: $spacing-xxl;
}
$content-begin-flow-line: 20vh;
$grid-breakpoint: $breakpoint-m;
$grid-breakpoint-m: $breakpoint-xl;

.main-grid {
  display: grid;
  grid-gap: 16px;

  grid-template-columns: 1fr;

  @include viewportLargerThan($grid-breakpoint) {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav content";
  }
  @include viewportLargerThan($grid-breakpoint-m) {
    grid-template-columns: 2fr 1fr 9fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav space content";
  }

  &__nav {
    grid-area: nav;

    position: sticky;
    top: 0;
    max-height: 100vh;

    // push it down a little bit
    padding-top: $content-begin-flow-line;

    @include viewportSmallerThan($grid-breakpoint) {
      display: none;
    }
  }
  &__content {
    grid-area: content;
    // push it down a little bit
    padding-top: $content-begin-flow-line;

    width: 100%;
  }
}
