/**
 * 
 * Handle spacing and grid in the website
 * 
 **/

// Spacing Units
$spacing-unit: 16px;

$spacing-xxl: $spacing-unit * 8;
$spacing-xl: $spacing-unit * 4;
$spacing-l: $spacing-unit * 3;
$spacing-m: $spacing-unit * 2;
$spacing-s: $spacing-unit * 0.75;
$spacing-xs: $spacing-unit * 0.5;
