@import "./responsive.scss";

$mobile-typography-breakpoint: $breakpoint-s;

ul,
li,
p,
.body {
  font-family: DINPro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 18px;
    line-height: 24px;
  }
}

.small {
  font-family: DINPro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 16px;
    line-height: 20px;
  }
}

.display {
  font-family: DINPro;
  font-style: normal;
  font-weight: 500;

  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 96px;
    line-height: 112px;
    letter-spacing: -0.02em;
  }
}

h1,
.h1 {
  font-family: DINPro;
  font-style: normal;
  font-weight: 500;

  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 72px;
    line-height: 88px;
    letter-spacing: -0.015em;
  }
}

h2,
.h2 {
  font-family: DINPro;
  font-style: normal;
  font-weight: 500;

  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.03em;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.005em;
  }
}

h3,
.h3 {
  font-family: DINPro;
  font-style: normal;
  font-weight: 500;

  font-size: 24px;
  line-height: 32px;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 36px;
    line-height: 48px;
  }
  letter-spacing: -0.005em;
}

h4,
.h4 {
  font-family: DINPro;
  font-style: normal;
  font-weight: bold;

  font-size: 20px;
  line-height: 28px;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 24px;
    line-height: 32px;
  }
  letter-spacing: 0.01em;
}

h5,
.h5 {
  font-family: DINPro;
  font-style: normal;
  font-weight: bold;

  font-size: 16px;
  line-height: 22px;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 18px;
    line-height: 24px;
  }

  letter-spacing: 0.01em;
}

.lead {
  font-family: DINPro;
  font-style: normal;
  font-weight: normal;

  font-size: 22px;
  line-height: 28px;
  @include viewportLargerThan($mobile-typography-breakpoint) {
    font-size: 24px;
    line-height: 32px;
  }

  letter-spacing: -0.0025em;
}
