:root {
  --clr-accent-lighter: rgb(255, 118, 118);
  --clr-accent: rgb(196, 52, 52);
  --clr-accent-darker: rgb(129, 34, 46);
  --clr-accent-darkest: rgb(114, 31, 42);

  --clr-primary-lightest: rgb(255, 255, 255);
  --clr-primary-lighter: rgb(237, 237, 237);
  --clr-primary-light: rgb(139, 139, 139);
  --clr-primary-dark: rgb(57, 54, 54);
  --clr-primary-darker: rgb(37, 34, 34);
  --clr-primary-darkest: rgb(0, 0, 0);

  --clr-interactive-text: var(--clr-primary-lightest);
  --clr-interactive-bg: var(--clr-primary-darkest);

  --drop-shadow-dark: 0px 15px 25px rgba(0, 0, 0, 0.25);
  --drop-shadow-light: 0px 15px 25px rgba(0, 0, 0, 0.1);
  --drop-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
