@import "../../styles/layout.scss";
@import "../../styles/responsive.scss";

.OC-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  grid-row-gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.OC-profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: $spacing-s;
  margin-bottom: $spacing-m;
}

.card--info--wrapper {
  opacity: .9;
  margin-top: 6px;
  display: flex;
  width: 100%;
  div:last-child {
    display: flex;
    flex-direction: row-reverse;
    caption {
      text-align: right;
    }
  }
  .card--info--content {
    width: 50%;
  }
  caption {
    display: inline;
  }
  .card--info--role{
    width: 80% !important;
  }
}
