@import "../../styles/layout.scss";
@import "../../styles/responsive.scss";

.OC-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  max-width: 1200px;
  //   width: 100%;
  margin: 0 auto;
}

.OC-profile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: $spacing-s;
  margin-bottom: $spacing-m;
}
