@import "@styles/responsive.scss";
@import "@styles/layout.scss";
@import "@styles/typography.scss";

$accent-strip-size: 2px;
$mobile-padding: $spacing-unit;

.nav-container {
  height: auto;

  &--expanded {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    overflow-y: auto;
  }
  @include viewportLargerThan($grid-breakpoint) {
    background-color: transparent;
    height: auto;
    overflow-y: auto;
  }
}

.nav {
  display: flex;
  flex-direction: column;

  /**
   * 
   * For implementing mobile nav bar
   * 
   */
  color: var(--clr-text);
  background-color: var(--clr-bg);
  // height: 100vh;
  @include viewportLargerThan($grid-breakpoint) {
    margin-top: 0rem;
    background-color: transparent;
  }

  // box shadow for mobile nav bar to make the nav menu look clickable
  box-shadow: none;
  @include viewportLargerThan($grid-breakpoint) {
    box-shadow: none;
  }
  &--scrolled {
    // box-shadow: var(--drop-shadow-elevated);
  }
  // transition animation
  transition-property: box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;

  &__menu-toggle {
    // layout
    display: block;
    padding: $mobile-padding;
    text-align: left;

    // reset the button look
    background: transparent;
    border: none;

    // push the icon to the right
    img {
      // for icon rotate
      transition-property: transform, filter;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
      float: right;
    }

    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    &--expanded {
      img {
        // filter: invert(100%);
        transform: rotate(180deg);
      }
      color: var(--clr-interactive-text);
      background-color: var(--clr-interactive-bg--hover);
    }

    @include viewportLargerThan($grid-breakpoint) {
      display: none;
    }
  }

  // the menu items
  &__menu {
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    @include viewportSmallerThan($grid-breakpoint) {
      height: 0vh;
      display: block;
      overflow-y: hidden;

      padding-left: $mobile-padding;
      padding-right: $mobile-padding;

      // seperator
      border-top: 1px solid #ccc;

      // give it some space between
      div:first-child {
        padding-top: $mobile-padding;
      }
      &--expanded {
        height: 70vh;
      }
    }
  }
}

/**
 * 
 * Nav Groups
 *
 */
.nav-group {
  display: flex;
  flex-direction: column;

  &__toggle {
    @extend .nav-item;
    // typography
    font-weight: bold !important;
    border: none;

    // remove the default button styling
    background-color: transparent;

    // remove the indentation
    padding-left: 0rem !important;

    &:focus {
      outline: none;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
}

/**
 * 
 * Nav Items
 *
 */
.nav-item {
  // reset link
  @extend .link-reset;

  // layout
  display: block;
  padding: $spacing-xs;
  position: relative;
  width: 150;

  // for sub group indentation
  padding-left: $spacing-s;

  // typography
  font-family: "DINPro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  text-align: left;

  // color
  color: var(--clr-interactive-text);

  // for the accent border
  &::after {
    content: "";
    //layout
    display: block;
    position: absolute;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    top: 0rem;

    // accent border
    border-right: $accent-strip-size solid var(--clr-interactive-bg--hover);
  }
}

.nav-item__current {
  //layout
  display: block;
  position: absolute;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  top: 0rem;

  //colour
  background-color: var(--clr-interactive-bg--hover);

  // accent strip
  border-right: $accent-strip-size solid var(--clr-accent);
}
